
.item{
    color: rgb(99, 160, 225);
  }

.item img{
   width: 5vw;
   border-radius: 10em;
 }

 .countsOfLikes{
  padding: .5vh .5vw;
  background-color: rgb(191, 203, 228);
  border-radius: 10vw;
  border: .1vw solid rgba(247, 245, 245, 0.977);
 }