.wrapper{
    display: grid;
    grid-template-columns: 2fr 5fr;
}


.names div{
    padding: 2vh 2vw;
}

.names {
    margin-top: 1.5vh;
}


.chat div{
    padding: 0 1vw 3vh 1vw;
}

.chat textarea{
    margin-left: 1.1vw;
    margin-top: 2vh;
    width: 40vw;
    height: 4vh;
    background-color: rgba(99, 160, 225, 0.646);
    color: rgb(108, 244, 101);
    font-weight: 600;
    font-size: calc(var(--index)*1);
    text-shadow: #FC0 1px 0 10px;
}

.dialogsMsgF button{
    font-size: 1vw;
    width: min-content;
    padding: 1vh 1vw;
    margin-left: 1.1vw;
    border-radius: 10em;
    background-color: rgba(99, 160, 225, 0.646);
    color: var(--green_color);
    font-weight: 600;
    cursor: pointer;
}

.dialogsMsgF button:hover{
    background-color: var(--blue_color);
}

.dialogsMsgF button:active{
    border: rgba(89, 232, 17, 0.877) solid .2vw;
}

@media (max-width: 800px){
    .chat textarea{
        width: 30vw;
    }
}