.nav{
  grid-area: n;
  background-color: rgb(99, 160, 225, .7);
  padding: 1vw;
  font-size: calc(var(--index)*.8);
}

.nav div{
  padding-top: .5vw;
}

.settings{
  margin: 3vh auto 5vh auto;
}

.item{
  text-decoration: none;
  color: rgb(139, 242, 134);
}

.ac-tive{
  font-size: calc(var(--index)*1.4);
  background-color: rgb(99, 160, 225);
  border-radius: 10em;
  text-align: center;
  padding: 1vh 0vw;
}

.activeLink{
  color: rgb(139, 242, 134);
  text-shadow: rgb(249, 249, 2) 1px 0 10px;
  text-decoration: none;
}

.activeLink .friendsTitle{
  text-shadow: rgb(2, 191, 249) 1px 0 10px;
}

.friends{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  column-gap: 2vw;
}

.friendsTitle {
  font-size: calc(var(--index)*1.4);
  background-color: rgba(139, 242, 134);
  color: rgb(99, 160, 225, 0.7);
  border-radius: 10em;
  text-align: center;
  padding: 1vh 0vw;
  cursor: default;
}