.nav{
  grid-area: n;
  background-color: rgb(99, 160, 225, .7);
  padding: 1vw;
}

.nav div{
  padding-top: .5vw;
}

.nav div:last-child{
  padding-top: 2vw;
}
.nav div:first-child{
  padding-bottom: 2vh;
}

.item{
  text-decoration: none;
  color: rgb(139, 242, 134);
}

.ac-tive{
  font-size: 1.8em;
  background-color: rgb(99, 160, 225);
  border-radius: 10em;
  text-align: center;
  padding: 0;
}

.activeLink{
  color: rgb(139, 242, 134);
  text-shadow: rgb(249, 249, 2) 1px 0 10px;
  text-decoration: none;
}