.header {
    grid-area: h;
    width: 90vw;
    background-color: rgb(99, 160, 225, .7);
  }
  
  .header img{
    width: 7%;
    border-radius: 10em;
    padding: calc(var(--index)*.5);
  }

  @media (max-width: 300px) {
    .header img{
      width: 7%;
      border-radius: 1vw;
      padding-bottom: 5vh;
    }
  }
  @media (max-width: 800px) {
    .auth_block{
      top: 11%;
    }
  }

  .auth_block{
    position: absolute;
    left: 90%;
    margin-top: -8vh;
    font-style: italic;
    color: rgb(139, 242, 134);
  }

  .auth_block a{
    text-decoration: none;
    color: rgb(139, 242, 134);
  }