.app-wrapper{
  display: grid;
  width: 90vw;
  margin: auto;
  background-color: rgb(139, 242, 134);

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
  "h h"
  "n c";

  grid-gap: 10px;
  
}

.header {
  grid-area: h;
  background-color: rgb(99, 160, 225);
}

.header img{
  width: 50px;
  padding: 1vw;
  border-radius: 10vw;
}

.nav{
  grid-area: n;
  background-color: rgb(99, 160, 225);
  padding: 1vw;
}

.nav div{
  padding-top: .5vw;
}

.nav div:last-child{
  padding-top: 2vw;
}


.content{
  grid-area: c;
  background-color: rgb(57, 242, 245);
}