:root{
  --index: calc(1vw + 1vh);
  --green_color: rgb(108, 244, 101);
  --blue_color: rgb(99, 160, 225);
}

.app-wrapper{
  display: grid;
  width: 90vw;
  margin: 1vw auto;
  box-shadow: .3vw .5vw .5vw .1vw rgba(139, 242, 0, 0.5);
  background-color: rgba(139, 242, 134);

  grid-template-rows: 5vw 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
  "h h"
  "n c";

  grid-gap: 1vw;
  
}

.app-wrapper-content{
  grid-area: c;
  color: rgb(99, 160, 225);
  font-size: calc(var(--index)*1.2);
}