.main div{
    padding: 3vh 0;
}

.main {
    border-bottom: solid rgba(99, 160, 225) 2px;
    margin-bottom: 2vw;
}

img {
    width: 69.5vw;
}

@media (max-width: 530px){
    img {
        width: 60vw;
    }
}

.profilePhoto{
    width: 15vw;
    border-radius: 10em;
}

.jobPhoto{
    width: 5vw;
    margin-bottom: -1vw;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gridWrapper ul li{
    margin-bottom: 3vw;
}

.main1 span {
    cursor: pointer;
}