.main div{
    padding: 3vh 0;
}

img {
    width: 69.5vw;
}

@media (max-width: 530px){
    img {
        width: 60vw;
    }
}

.profilePhoto{
    width: 15vw;
}

.jobPhoto{
    width: 5vw;
    margin-bottom: -1vw;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}